/* =============================================
   LAYOUT UTILITIES
   ============================================= */

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-flex-col {
  display: flex;
  flex-direction: column;
}

.u-flex-align {
  display: flex;
  align-items: center;
}

.u-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
